/* Mengatur font yang digunakan */
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* setting container */
.container {
  width: 80%; /* Controls the width of the container */
  max-width: 1200px; /* Limits the width to prevent it from becoming too wide */
  margin: 0 auto; /* Centers the container */
  padding: 20px; /* Adds padding inside the container */
}

/* setting buton start */
.btn-start {
  background-color: initial;
  background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
  float: left;
}

.btn-start:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

@media (max-width: 768px) {
  .container {
    width: 90%; /* Make the container take up 90% of the screen on smaller devices */
  }

  .item1 {
    display: flex;
    flex-direction: column;
  }

  .item1 h1 {
    margin: 5px 0; /* Reduces the space above and below the heading */
    font-size: 2em; /* Adjusts the font size of the heading */
    font-weight: bold; /* Makes the heading bold */
  }

  .item1 p {
    margin: 10px 0; /* Increases space above and below the paragraph for better readability */
    font-weight: 600; /* Adjusts the font weight of the paragraph */
    line-height: 1.6; /* Increases line spacing for easier reading */
    color: #333; /* Uses a dark grey color for less strain on the eyes */
    max-width: 700px; /* Limits the width of the text block to make it easier to read */
  }

  /* setting button start in smaller device */
  .btn-start {
    height: 40px;
    max-width: 300px;
    width: auto;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: 10px;
  }

  .calculation-slider h1 {
    font-size: 2em;
  }

  .gender-image {
    height: 200px;
  }

  /* button start tidak terlalu panjang */
}

/* #landing {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
